<h1> Customers </h1>

<button class="orange"><a href="javascript:void(0);">Create Customers!</a> </button>
<br /><br />
<div class = "tabl">
<table style="width:100%">
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Age</th>
    <th>Gender</th>
  </tr>
  <tr>
    <td>RamessesII</td>
    <td>Egypt</td>
    <td>92</td>
    <td>male</td>
  </tr>
  <tr>
    <td>Thomas</td>
    <td>Birmingham</td>
    <td>40</td>
    <td>male</td>
  </tr>
  <tr>
    <td>Anna Hathaway</td>
    <td>Hollywood</td>
    <td>30</td>
    <td>female</td>
  </tr>
</table>
</div>