
<h1> Tests </h1>

<button class="orange"><a href="javascript:void(0);">Create Tests!</a> </button>
<br /><br />
<div class = "tabl">
<table style="width:100%">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Username</th>
  </tr>
  <tr>
    <td>101</td>
    <td>RamessesII</td>
    <td>Ozymandias</td>
  </tr>
  <tr>
    <td>108</td>
    <td>Jackson</td>
    <td>PopKing</td>
  </tr>
  <tr>
    <td>105</td>
    <td>Aries</td>
    <td>MadK</td>
  </tr>
  <tr>
    <td>118</td>
    <td>Thomas Shelby</td>
    <td>Peaky</td>
  </tr>
  <tr>
    <td>879</td>
    <td>Jake Gyllenhaal</td>
    <td>NightCrawler</td>
  </tr>
</table>
</div>